/* Styles go here */


.btn {
    margin-right: 8px;
}

/*.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}*/

.angular-ui-tree-handle {
  display: block;
  margin: 5px 0;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  border: 1px solid #e4e5e7;
  background: #f7f9fa;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
    /*background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/*style the font-awesome check box*/
.fa{
    position:relative;
    top:5px;
    padding-right: 8px;
}

.fa:hover{
  cursor:pointer;
}

.icon-frame {
    background-image: url(../../Images/DT/Iconarchive-Red-Orb-Alphabet-Letter-F.png);
    display: inline-block;
    width:16px;
    height:16px;
}

.icon-slot {
    background-image: url(../../Images/DT/Iconexpo-Speech-Balloon-Green-Speech-balloon-green-s.png);
    display: inline-block;
    width:16px;
    height:16px;
}

.icon-term {
    background-image: url(../../Images/DT/Hydrattz-Multipurpose-Alphabet-Letter-T-gold.png);
    display: inline-block;
    width:16px;
    height:16px;
}

.dt-frame-letter {
    display: inline-block;
    width:16px;
    background-color:red;
    color:white;
    padding-left:4px;
    border-radius:6px;
}

.dt-slot-letter {
    display: inline-block;
    width:16px;
    background-color:yellow;
    color:black;
    padding-left:4px;
    border-radius:6px;
}

.dt-term-letter {
    display: inline-block;
    width:16px;
    background-color:lightblue;
    color:black;
    padding-left:4px;
    border-radius:6px;
}