/* Styles go here */


.btn {
    margin-right: 8px;
}

/*.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}*/

/*.angular-ui-tree-handle {
  background: none repeat scroll 0 0 #f7f9fa;
  border: 1px dashed #e4e5e7;
  color: inherit;
  padding: 10px;
  font-weight: normal;
}
.angular-ui-tree-handle:hover {
  font-weight: bold;
  cursor: pointer;
}
.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 1px dashed #e4e5e7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/*style the font-awesome check box*/
.fa{
    position:relative;
    top:5px;
    padding-right: 8px;
}

.fa:hover{
  cursor:pointer;
}

.icon-frame {
    background-image: url(../../Images/DT/Iconarchive-Red-Orb-Alphabet-Letter-F.png);
    display: inline-block;
    width:16px;
    height:16px;
}

.icon-slot {
    background-image: url(../../Images/DT/Iconexpo-Speech-Balloon-Green-Speech-balloon-green-s.png);
    display: inline-block;
    width:16px;
    height:16px;
}

.icon-term {
    background-image: url(../../Images/DT/Hydrattz-Multipurpose-Alphabet-Letter-T-gold.png);
    display: inline-block;
    width:16px;
    height:16px;
}

.dt-frame-letter {
    display: inline-block;
    width:16px;
    background-color:red;
    color:white;
    padding-left:4px;
    border-radius:6px;
}

.dt-slot-letter {
    display: inline-block;
    width:16px;
    background-color:yellow;
    color:black;
    padding-left:4px;
    border-radius:6px;
}

.dt-term-letter {
    display: inline-block;
    width:16px;
    background-color:lightblue;
    color:black;
    padding-left:4px;
    border-radius:6px;
}

.dt-newlycreated {
    background-color:gray;
    color:white;
    padding-left:4px;
    padding-right:4px;
}

.dt-moved {
    background-color:cyan;
    padding-left:4px;
    padding-right:4px;
}

.dt-deleted {
    background-color:black;
    color:white;
    padding-left:4px;
    padding-right:4px;
}

.dt-modified {
    background-color:green;
    color:white;
    padding-left:4px;
    padding-right:4px;
}