
@{
    ViewBag.Title = "DT Constructor";
}


<div class="content animate-panel" ng-controller="DtConstructorController">
    <div class="row">
        <div class="hpanel">
            <div class="col-lg-6">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <h1>Dynamic Text Constructor - Prototyping</h1>
                    </div>
                    <div class="panel-body">
                        <!-- Nested node templates -->
                        <!-- Template for parent nodes -->
                        <script type="text/ng-template" id="parent_nodes_renderer.html">
                            <div ui-tree-handle class="tree-node tree-node-content">
                                <i class="fa pull-left" data-nodrag ng-class="{'fa-caret-square-o-right': collapsed, 'fa-caret-square-o-down': !collapsed}" ng-click="toggle(this)"></i>
                                @*<div class="#" data-nodrag ng-class="{'icon-frame': node.nodetype==='framelink', 'icon-slot': node.nodetype==='slot'}"></div>*@
                                <div style="display:inline-block;" ng-switch on="node.nodetype">
                                    <span class="dt-frame-letter" ng-switch-when="framelink">F</span>
                                    <span class="dt-slot-letter" ng-switch-when="slot">S</span>
                                    <span class="dt-term-letter" ng-switch-when="term">T</span>
                                </div>
                                <span style="font-weight:100;">{{node.title}}</span>
                                <i class="fa fa-times-circle pull-right" data-nodrag ng-click="remove(this)"></i>
                                <i class="fa fa-plus-square pull-right" data-nodrag ng-click="newSubItem(this)"></i>
                            </div>
                            <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                                <li ng-repeat="node in node.nodes" ui-tree-node ng-include="(node.nodes) ? 'parent_nodes_renderer.html' :  'terminal_node_renderer.html' ">  </li>
                            </ol>
                        </script>
                        <!-- Template for terminal nodes -->
                        <script type="text/ng-template" id="terminal_node_renderer.html">
                            <div ui-tree-handle class="tree-node tree-node-content">
                                @*<div class="#" data-nodrag ng-class="{'icon-term': node.nodetype==='term', 'icon-frame': node.nodetype==='framelink', 'icon-slot': node.nodetype==='slot'}"></div>*@
                                <div style="display:inline-block;" ng-switch on="node.nodetype">
                                    <span class="dt-frame-letter" ng-switch-when="framelink">F</span>
                                    <span data-nodrop class="dt-slot-letter" ng-switch-when="slot">S</span>
                                    <span class="dt-term-letter" ng-switch-when="term">T</span>
                                </div>
                                <span class="textContents" style="font-weight:100;">{{node.title}}</span>
                                <i class="fa fa-times-circle pull-right" data-nodrag ng-click="remove(this)"></i>
                            </div>
                        </script>
                        <!--The Root Node-->
                        @*<div ui-tree id="tree-root" data-nodrop-enabled callbacks="treeOptions">*@
                        <div ui-tree="treeOptions" id="tree-root" data-nodrop-enabled>
                            <ol ui-tree-nodes="" ng-model="data">
                                <li ng-repeat="node in data" ui-tree-node ng-include="(node.nodes) ? 'parent_nodes_renderer.html' : 'terminal_node_renderer.html' "></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <h3>data binding (for debug)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="info">
                            {{info}}
                        </div>
                        <pre class="code">{{ data | json }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



